<nav class="editor-me-menu navbar  sc-2 m-b-c">
    <ul class="nav navbar-nav">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle btn btn-default" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false">{{file}}</a>
                <ul class="dropdown-menu">
                    <li class="dropdown-item">src : <strong>{{ src }}</strong></li>
                    <li class="dropdown-item">file : <strong>{{ file }}</strong></li>
                    <li class="dropdown-item">dir_file : <strong>{{ dir_file }}</strong></li>
                    <li class="dropdown-item">web_file : <strong>{{ web_file }}</strong></li>
                </ul>
        </li>
        {% block editorForce %}
        {% endblock %}
    </ul>
</nav>
{% block editorContent %}
{% endblock %}