<div id="{{id}}-dropdown-plupload-group" class="btn-group dropdown-plupload-group ">
    <a href="{{path(route) }}" id="{{id}}-dropdown-plupload" data-target-list="#{{id}}-dropdown-plupload-menu"  class="btn btn-primary  btn-plupload radius" data-multiple="{{ data.multiple }}" data-rename="{{ data.rename }}" data-dest="{{ data.dest }}" data-index="{{ index }}" data-filter="{{ data.filter }}" data-loading-text="<i class='fa fa-refresh fa-spin'></i> {{ "action.upload" | trans }} <span id='{{id}}-dropdown-plupload-badge' class='label label-info hide' >0</span>" data-cbapp="{{ data.cbapp }}" data-cb="{{ data.cb }}">
    	<i class="fa fa-cloud-upload"></i> 
    	{{ "action.upload" | trans }} <span class="sm ">{% set label %}label.{{data.dest}}{% endset %}
    	 {{ label | trans}}</span>
		
		<span id="{{id}}-dropdown-plupload-badge" class="label label-info hide" >0</span>
    </a>
    <div id="{{id}}-dropdown-plupload-list" class="dropdown-menu dropdown-plupload-list" style="min-width: 350px; border:0px;"></div>
</div>