{% set titleBtn %}label.{{title}}{% endset   %}
<a href="{{path('proto_load') }}" data-proto-counter="{{counter}}" data-proto="{{proto}}" data-toggle="tootip" title="proto : {{title}}" data-target="#{{target}}" class="btn btn-primary btn-proto ">{{ titleBtn | trans}}</a>

