<!-- BEGIN DROPDOWN HOVER  -->
<div class="btn-group input-group-btn">
    <a href="{{path('upload') }}" class="btn btn-secondary btn-modal" data-index="{{index}}" data-target-list="#{{id}}-files" title="Upload" data-filter="{{filter}}" data-dest="{{dest}}" data-callback="upload_init">
    <i class="fa fa-cloud-upload"></i>
    </a>
</div>
<!-- END DROPDOWN HOVER  -->
