<input type="checkbox" name="{{entityName}}[{{id}}]" value="{{id}}" id="line_{{entityName}}_{{id}}" class="line" /><label for="line_{{entityName}}_{{id}}" class="forcheckbox line-check"><i class="fa fa-check"></i></label>
<label for="line_{{entityName}}_{{id}}" class="forcheckbox line-id line">{{id}}</label>
