<input type="checkbox" name="{{entityName}}[{{id}}]" value="{{id}}" id="line_{{entityName}}_{{id}}" class="line-check line" />
<label for="line_{{entityName}}_{{id}}" class="forcheckbox line-id line">{{id}}</label>
