<div id="" class="form-control-group-fade ">
{#
    /**
    * TODO : Rajouter un loader pour l'event crud
    **/
#}
<input id="curl_me" class="curl-me form-control" data-target="{{target}}" data-dir="{{dir}}" data-folder="{{folder}}" data-url="{{path('rb_curl') }}" type="text" placeholder="{{"msg.curl_me"|trans}}" />
</div>
{# <div class="input-group-btn"> #}

   {#  <a href="https://www.google.fr/search?q=" class="btn btn-secondary btn-popup" data-src="#{{target}}_curl_me"><i class="fa fa-google"></i></a><br>
    <a href="" class="btn btn-secondary btn-popup" data-src="#{{target}}_curl_me"><i class="fa fa-link"></i></a><br>
    <a href="https://www.google.fr/search?q=" class="btn btn-secondary btn-curl-me" data-src="#{{target}}_curl_me"><i class="fa fa-cloud-upload"></i></a> #}
{# </div> #}
{# </div> #}