<div id="{{idInput}}_group" class="edit_me_group">
    <a id="{{idInput}}_value" href="#{{idInput}}_group" class="btn-edit-me-toggle edit_me_value"><span class="input-value">{{value}}</span> <span class="i-edit-me"><i class="fa fa-pencil"></i></span></a>
    <div class="input-group edit_me_input">
         <span class="input-group-btn">
            <a  href="{{path('edit_me',{id:id,entityName:entity,field:field}) }}" data-src="#{{idInput}}" data-target="#{{idInput}}_value" class="btn btn-secondary btn-edit-me" data-callback="setEditMe"> <i class="fa fa-floppy-o"></i></a>
        </span>
        <input id="{{idInput}}" type="text" value="{{value}}" name="{{name}}" class="form-control" />
        <span class="input-group-btn">
            <a href="#" class="btn-edit-me-toggle btn btn-secondary"><i class="fa fa-remove"></i></a>
        </span>
    </div>
</div>