<a href="{{path('folder',{folder:folder}) }}" data-src="{{src}}" data-folder="{{folder}}" data-target="#container-{{folder}}" class="btn-cb" data-callback="getExplorer"><i class="fa fa-folder-o"></i> {{folder}}</a>
<div id="container-{{folder}}">
</div>