<li class="nav-item ">
    <a id="{{id}}" class="nav-link {% if active %}active{% endif %} btn-tab-me" aria-expanded="{{active}}" href="#{{id}}-tab" data-url="{{ path(route) }}" data-toggle="tab">{{"route."~route~".title"|trans}}</a>
</li>