<div class="table-responsive">
			<table id="table-me-{{ name }}" data-resizable-columns-id="table-me-{{ name }}" class="table table-sm table-striped table-bordered table-arr table-me ">
				<thead classs="thead-inverse">
					<tr>
						<th class="c-5 bg-1"></th>
						{% for keyCol, col in data[0] %}
							<th class="col-{{ keyCol }} c-5 bg-1 text-xs-center" data-col="{{ keyCol }}" data-resizable-column-id="{{ keyCol }}" >
								<input id="col-{{ keyCol }}" type="checkbox" name="title[{{ keyCol }}]" class="check-col check-label" data-col="{{ keyCol }}" data-target=" col-{{ keyCol }}" value="{{ keyCol }}">
								<label for="col-{{ keyCol }}" class="c-1">{{ char_me(keyCol) }}</label>
							</th>
						{% endfor %}
					</tr>
				</thead>
				<tbody>
					{% for keyRow, row in data %}
						<tr>
							<td class="c-5 bg-1 text-xs-center">
								<input id="row-{{ keyRow }}" type="checkbox" name="value[{{ keyRow }}]" class="check-row check-label" data-row="{{ keyRow }}" data-target=" row-{{ keyRow }}" value="{{ keyRow }}">
								<label for="row-{{ keyRow }}">{{ keyRow + 1 }}</label>
							</td>
							{% for keyCol, col in row %}
							<td class="row-{{ keyRow }} col-{{ keyCol }}" data-row="{{ keyRow }}" data-col="{{ keyCol }}" ><input type="text" name="ceil[{{ keyRow }}][{{ keyCol }}]" value="{{ col }}" class="table-ceil-edit form-control input-row-{{ keyRow }} input-col-{{ keyCol }}" data-value="{{ col }}" readonly /></td>
							{% endfor %}
						</tr>
					{% endfor %}
				</tbody>
			</table>
			<script>
			$(function(){
			  $("table.table-me").resizableColumns({
			    store: window.store
			  });
			});
			</script>
		</div>
	</div>
	<!-- END TABSCONTENT table-tab -->
