<div class="table-responsive">
	<table class="table table-sm table-striped table-bordered table-arr">
		<thead>
			<tr>
				<th></th>
				{% for keyCol, col in data[0] %}
					<th class="col_{{ keyCol }}" data-col="{{ keyCol }}">
						<input id="col_{{ keyCol }}" type="checkbox" name="title[{{ keyCol }}]" class="check-col" data-col="{{ keyCol }}" value="{{ keyCol }}">
						<label for="">{{ keyCol }}</label>
					</th>
				{% endfor %}
			</tr>
		</thead>
		<tbody>
			{% for keyRow, row in data %}
				<tr>
					<td>
						<input id="row_{{ keyRow }}" type="checkbox" name="value[{{ keyRow }}]" class="check-row" data-row="{{ keyRow }}" value="{{ keyRow }}">
						<label for="">{{ keyRow }}</label>
					</td>
					{% for keyCol, col in row %}
						<td class="row_{{ keyRow }} col_{{ keyCol }} table-ceil-edit" data-row="{{ keyRow }}" data-col="{{ keyCol }}" data-value="{{ col }}">{{ col }}</td>
					{% endfor %}
				</tr>
			{% endfor %}
		</tbody>
	</table>
</div>