<ul class="nav nav-tabs" id="tabslive-{{ id }}">
	{% for key, route in routes %}
    <li class="nav-item ">
        <a class="nav-link tab-live" data-toggle="tab" href="#tabslive-{{ id }}-tab-{{ key }}" data-url="{{ path(route.route,route.data|default({})) }}" aria-expanded="{{ route.open | default(false) }}" title="{{ route.title }}">{{ route.title }}</a>
    </li>
   {% endfor %}
</ul>
<div class="tab-content">
	{% for key, route in routes %}
    <div id="tabslive-{{ id }}-tab-{{ key }}" class="tab-pane {% if route.open == 'true' %}active{% endif %}
    "></div>
   {% endfor %}
</div>