<div class="dropdown-item dropdown-form">
    <form action="{{path('alert_add') }}" class="form-live" data-cb="alertReload">
        <input type="hidden" name="type" value="note">
        <textarea id="alert-content" class="form-control m-c-b" name="content" rows="3"></textarea>
        <input id="alert-expir" type="text" class="form-control" name="expir">
        <button class="btn btn-success btn-block">{{"action.note"|trans}}</button>
    </form>
</div>
{% for alert in alerts %}
<div class="dropdown-item alert-{{ alert.content }}">
    {{ alert.content }} <div class="btn-group"><a href="{{path('alert_del',{ id:alert.id }) }}" class="btn btn-seccondary"><i class="fa fa-remove"></i></a></div>
</div>
{% endfor %}
<script type="text/javascript">
  $(function () {
      $('#alert-expir').datetimepicker({
        locale: moment.locale('fr'),
        icons:{
            time: 'fa fa-clock-o',
            date: 'fa fa-calendar',
            up: 'fa fa-chevron-up',
            down: 'fa fa-chevron-down',
            previous: 'fa fa-chevron-left',
            next: 'fa fa-chevron-right',
            today: 'fa fa-screenshot',
            clear: 'fa fa-trash',
            close: 'fa fa-remove'
      }
      });
  });
</script>