<a href="{{path('alert_form') }}" class="dropdown-item btn-modal" title="{{"route.alert_form.title"|trans}}">{{"route.alert_form.title"|trans}}</a>
{% for alert in alerts %}
<div class="dropdown-item alert-{{ alert.content }}">
    {{ alert.content }} <div class="btn-group"><a href="{{path('alert_del',{ id:alert.id }) }}" class="btn btn-seccondary"><i class="fa fa-remove"></i></a></div>
</div>
{% endfor %}
<script type="text/javascript">
  $(function () {
      $('#alert-expir').datetimepicker({
        locale: moment.locale('fr'),
        icons:{
            time: 'fa fa-clock-o',
            date: 'fa fa-calendar',
            up: 'fa fa-chevron-up',
            down: 'fa fa-chevron-down',
            previous: 'fa fa-chevron-left',
            next: 'fa fa-chevron-right',
            today: 'fa fa-screenshot',
            clear: 'fa fa-trash',
            close: 'fa fa-remove'
      }
      });
  });
</script>