{% extends app.request.isxmlhttprequest ? '::base.html.twig' : 'AdminBundle::index.html.twig' %}
{% set crudEntity = "FixBundle:FixProduct" %}
{% block body %}
<div id="live-content">
    <div class="col-md-12 col-lg-12 ">
        <div class="panel panel-default panel-index">
            <a href="{{path('trace_purge') }}" class="btn-live" data-autorefresh="true">trace_purge</a>
            <form action="#" id="product-list" class="batch-form">
                <table class="records_list table table-sm">
                    <thead class="thead-inverse">
                        <tr class="sc-1">
                            <th>ref</th>
                            <th>msg</th>
                            <th>date</th>
                            <th>user</th>
                        </tr>
                    </thead>
                    <tbody>
                    {% for trace in traces %}
                        <tr id="trace-{{ trace.id }}" class="trace-{{ trace.ref }}">
                            <td><span class="label label-default label-trace label-trace-{{ trace.ref }}">{{ trace.ref }}</span></td>
                            <td><strong>{{ trace.msg }}</strong></td>
                            <td><span data-time="{{ trace.date | date('U') }}">{{ trace.date | date('d m Y H:i')}}</span></td>
                            <td>{{ userImg(trace.user.id) }}</td>
                        </tr>
                    {% endfor %}
                    </tbody>
                    <tfoot>
                        <tr>
                            <td colspan="5" class="navigation text-center">
                                {{ knp_pagination_render(traces) }}
                            </td>
                        </tr>
                    </tfoot>
                </table>
            </form>
        </div>
    </div>
</div>
{% endblock %}