{# default Sliding pagination control implementation #}

<nav>
{% if pageCount > 1 %}
<ul class="pagination">
    {% if first is defined and current != first %}
        <li class=" page-item">

                <a class="page-link" href="{{ path(route, query|merge({(pageParameterName): first})) }}"><i class="fa fa-angle-double-left "></i></a>

        </li>
    {% else %}
        <li class=" page-item disabled">
            <a class="page-link " href="#"><i class="fa fa-angle-double-left "></i></a>
        </li>
    {% endif %}


    {% if previous is defined %}
        <li class=" page-item">
                <a class="page-link" href="{{ path(route, query|merge({(pageParameterName): previous})) }}"><i class="fa fa-angle-left "></i></a>
        </li>
    {% else %}
        <li class=" page-item disabled">
            <a class="page-link " href="#"><i class="fa fa-angle-left "></i></a>
        </li>
    {% endif %}
    <li class="page-item">
        <select name="page" data-url="{{ path(route, query) }}" class="page-link c-select">
        {% for index in 1..pageCount %}
            <option value="{{ index }}" {% if index == current %}selected{% endif %} >{{ index }}</option>   
        {% endfor %}
        </select>
    </li>

    {% if next is defined %}
        <li class=" page-item">
                <a class="page-link" href="{{ path(route, query|merge({(pageParameterName): next})) }}"><i class="fa fa-angle-right "></i></a>
        </li>
    {% else %}
        <li class=" page-item disabled">
            <a class="page-link " href="#"><i class="fa fa-angle-right "></i></a>
        </li>
    {% endif %}

    {% if last is defined and current != last %}
        <li class=" page-item">
            <a class="page-link" href="{{ path(route, query|merge({(pageParameterName): last})) }}"><i class="fa fa-angle-double-right "></i></a>
        </li>
    {% else %}
        <li class=" page-item disabled">
            <a class="page-link " href="#"><i class="fa fa-angle-double-right "></i></a>
        </li>
    {% endif %}
</ul>
{% endif %}
</nav>